.box:hover{
  box-shadow: rgba(255, 255, 255, 0.701) 0px 1px 2px 0px, rgba(255, 255, 255, 0.915) 0px 2px 6px 2px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.scroll_batch{
  scrollbar-width: none;
  -ms-overflow-style: none; 
  scrollbar-color: transparent ;
}


.scroll_batch_topic {
  display: flex; /* Ensures child elements are arranged horizontally */
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Hides vertical scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

.scroll_batch_topic::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome/Safari */
}

